// <========== Page Header Navigation Styles ==========>
#page-header-navigation {
    width: 90%;
    margin: auto;

    .top-header-nav {
        padding: 1rem;
        width: 100%;

        .navbar-brand {
            margin-right: 2rem;
        }

        .navbar-nav {
            .nav-item {
                padding: 0px 1.25rem;

                .nav-link {
                    color: $theme-stcolor;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                    &:hover {
                        color: $theme-pblue;
                        font-weight: 700;
                    }
                }
            }

            .active {
                .nav-link {
                    color: $theme-pblue;
                    font-weight: 700;
                }
            }
        }
    }
}
// <========== Page Header Navigation Styles ==========>
