.product-card {
    position: relative;
    border-radius: 0.5rem;
    background-color: $theme-white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);

    .product-card-icons {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;

        .pci-bid-now,
        .pci-bid-fav {
            height: 3rem;
            width: 3rem;
            border-radius: 50px;
            border: 2px solid $theme-pblue;
            font-size: 1.5rem;
            line-height: 2rem;
            text-decoration: none;
            color: $theme-pblue;
            margin-bottom: 1rem;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: $theme-pblue;
                color: $theme-white;
            }
        }
    }

    .product-card-img {
        position: relative;

        img {
            width: 100%;
            min-height: 300px;
            border-radius: 0.5rem 0.5rem 0px 0px;
        }

        .bid-ends {
            position: absolute;
            bottom: -16px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $theme-white;
            border-radius: 0.25rem;
            padding: 0.5rem 1rem;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

            .bidend-item {
                padding: 0px 0.5rem;
                display: inline;
                font-size: 1rem;
                font-weight: 600;
                text-decoration: none;
                color: $theme-ptcolor;
                &:first-child {
                    padding-left: 0px;
                }
                &:last-child {
                    padding-right: 0px;
                }

                .bidend-item-value {
                    display: inline;
                    font-size: 1rem;
                    font-weight: 400;
                    text-decoration: none;
                    color: $theme-porange;
                    padding: 0px 0.25rem;
                }
            }
        }
    }

    .prdouct-card-content {
        padding: 2rem;

        .product-title {
            font-size: 1.5rem;
            color: $theme-ptcolor;
            line-height: 2rem;
            font-weight: 600;
            text-decoration: none;
        }

        .product-bid {
            font-size: 1rem;
            line-height: 1.5rem;
            color: $theme-stcolor;
            font-weight: 400;

            .bid-amount {
                font-size: 1.25rem;
                font-weight: 600;
                color: $theme-pblue;
            }
        }
    }
}

@include respond-to(ex_large_max) {
    .product-card {
        .product-card-icons {
            position: absolute;
            top: 0.75rem;
            left: 0.75rem;

            .pci-bid-now,
            .pci-bid-fav {
                margin-bottom: 0.75rem;
            }
        }

        .prdouct-card-content {
            padding: 1.5rem;
        }
    }
}
